:root {
  --aniay-bg: #FDEEEB;
  --aniay-pink: #D47C7D;
  --aniay-dark: #2F2F30;

  /* sobrescribir colores Bootstrap */
  --bs-body-bg: var(--aniay-bg);
  --bs-body-color: var(--aniay-dark);
  --bs-primary: var(--aniay-pink);
}

body {
  background-color: var(--aniay-bg) !important;
  color: var(--aniay-dark);
  font-family: 'Poppins', sans-serif;
  border-color: #b56566;
}

.navbar {
  background-color: var(--aniay-bg) !important;
  border-bottom: 2px solid var(--aniay-pink);
}

.navbar .nav-link {
  color: var(--aniay-dark) !important;
  border-color: #b56566;
}

.navbar .nav-link.active {
  color: var(--aniay-pink) !important;
  border-color: #b56566;
}

.btn-primary {
  background-color: var(--aniay-pink);
  border-color: var(--aniay-pink);
}

.btn-primary:hover {
  background-color: #b56566;
  border-color: #b56566;
}

#carouselJuguetes .carousel-caption h5,
#carouselJuguetes .carousel-caption p {
  background-color: var(--aniay-bg) !important;
  color: var(--aniay-dark);
  text-shadow: none !important;
}

#carouselJuguetes .carousel-caption {
  background-color: rgba(255, 255, 255, 0.6); /* blanco translúcido */
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}