{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <i class="fas fa-puzzle-piece me-2" style="font-size: 2rem; color: var(--bs-primary-text-emphasis);"></i>
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'img/aniay1.png' %}" class="rounded-circle" style="height:80px; width:80px; object-fit:cover;">
    </a>
    </a>
      <button class="navbar-toggler" type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse"
        id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% for link in links %}
            <li class="nav-item">
                <a class="nav-link {% if link.active %}active{% endif %}"
                   {% if link.active %}aria-current="page"{% endif %}
                   href="{{ link.href }}"
                   data-testid="navbar-{{ link.label }}">

                    {% if link.icon %}
                        <i class="{{link.icon}}" aria-hidden="true"></i>
                    {% endif %}

                    {{ link.label }}
                </a>
            </li>
            {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
