{% extends "base.html" %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block extra_css %}
<link href="{% static 'css/theme.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        {% for item in home_items %}
        <div class="col-4">
            <a href="{{ item.href }}" class="text-decoration-none" data-testid="home-{{item.label}}">
                <div class="card" style="min-height: 20vh">
                    <div class="card-body d-flex align-items-center">
                        <h2 class="card-title d-flex align-items-center w-150">
                            <div>
                                <i class="{{item.icon}}"></i>
                                {{item.label}}
                            </div>
                            <i class="bi bi-arrow-right"></i>
                        </h2>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <br>

<div id="carouselJuguetes" class="carousel slide"  data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for juguete in juguetes %}
      {% if juguete.image %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <div class="d-flex flex-column justify-content-center align-items-center" style="height: 70vh;">
            <img src="{{ juguete.image.url }}" alt="Imagen del juguete" class="img-fluid mb-3" style="max-height: 300px;">
            <div class="text-center">
              <h5 style="color: var(--aniay-dark)">{{ juguete.name }}</h5>
              <p style="color: var(--aniay-dark)">${{ juguete.price }}</p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselJuguetes" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselJuguetes" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
</div>
{% endblock %}
